/* This rule appyl to element in css */
* {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
}
/* This css rules is for the first and header section of the website */
.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 120px;
    gap: 468px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 130px;
}

.jar1 {
    width: 460px;
}

.hero1 {
    font-size: 48px;
    font-weight: 980;
    color: #f9faf8;
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.sign1 {
    padding: 8px;
    width: 125px;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.jar2 {
    background-color: #989898;
    color: #e5e7eb;
    font-size: 18px;
    padding: 110px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* This css rules is for the second section of the website */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container3 {
    padding: 30px 0;
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 30px;
    color: #1f2937;
}

.container4 {
    margin-bottom: 100px;
}

.jar3 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.boxes {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 16px;
    border: 4px solid #3882f6;
    padding: 80px;
    margin-bottom: 8px;
}

.text {
    text-align: center;
    font-size: 18px;
    color: #5A5A5A;
    font-weight: 500;
}
/* This css rules is for the third section of the website */
.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #e5e7eb;
}

.container5 {
    width: 830px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
}

.god {
    text-align: right;
    margin-right: 40px;
    font-size: 25px;
    font-weight: bolder;
    color: #1f2937;
}
/* This css rules is for the fourth section of the website */
.section4 {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container6 {
    width: 1000px;
    padding: 50px 90px;
    border-radius: 12px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.action {
    color: #f9faf8;
    font-size: 28px;
    font-weight: bolder;
}

.random {
    color: #f9faf8;
    font-size: 18px;
}

.sign2 {
    padding: 8px;
    width: 125px;
    font-weight: bold;
    font-size: large;
    border: 2px white solid;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
}
/* This css rules is for the footer section of the website */
.footer {
    text-align: center;
    padding: 40px 0;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 20px;
}